<div class="modal fade" id="modal-detail_utilisateur" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title f-bold"><i class="fa fa-user-plus"></i> DETAIL DE L'UTILISATEUR</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Nom & Prénoms</th>
                                <td class="f-bold">{{ utilisateur.nom|default_if_none:'' }} {{ utilisateur.prenoms|default_if_none:'' }}</td>
                            </tr>
                            <tr>
                                <th>Situation matrimoniale</th>
                                <td>{{ utilisateur.situation_matrimoniale|default_if_none:'' }}</td>
                            </tr>
                            <tr>
                                <th>Téléphone</th>
                                <td>{{ utilisateur.telephone|default_if_none:'' }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ utilisateur.email|default_if_none:'' }}</td>
                            </tr>
                            <tr>
                                <th>Login</th>
                                <td>{{ utilisateur.username|default_if_none:'' }}</td>
                            </tr>
                            <tr>
                                <th>Date inscription</th>
                                <td>
                                    {% if utilisateur.date_joined %}
                                      {{ utilisateur.date_joined|date:'d/m/Y' }}
                                    {% else %}
                                      <span class="label label-danger">Non inscript</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Niveau d'accès</th>
                                <td>
                                    {% if utilisateur.is_superuser == True %}
                                        <span class="badge badge-success">SUPER ADMIN</span>
                                    {% else %}
                                        <span class="badge badge-info">ADMIN</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Statut compte</th>
                                <td><span class="badge badge-{{ utilisateur.statut_compte|lower|slugify }}">{{ utilisateur.statut_compte }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
        </div>
      </div>
    </div>
  </div>
