<div class="modal fade" id="modal-detail_session" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title f-bold"><i class="fa fa-eye"></i> INFORMATION DE LA SESSION</h4>
        </div>
        <div class="modal-body">
          <div class="row invoice-info">
            <div class="col-md-4 invoice-col">
              <p class="f-bold">Nom serssion </p>
              <p class="f-bold">Date publication</p>
              <p class="f-bold">Date début</p>
              <p class="f-bold">Date fin</p>
              <p class="f-bold">Nombre cheminents</p>
              <p class="f-bold">Statut</p>
              <p class="f-bold">Date dernière modification</p>
            </div>
            <div class="col-md-8 invoice-col">
              <p>: {{ session.nom }}</p>
              <p>: {{ session.date_publication|date:'d/m/Y' }}</p>
              <p>: {{ session.date_debut|date:'d/m/Y' }}</p>
              <p>: {{ session.date_fin|date:'d/m/Y' }}</p>
              <p>: <span class="label label-success">67</span> </p>
              <p>: <span class="badge badge-{{ classe_css_statut }}">{{ session.statut_session }}</span></p>
              <p>: {{ session.updated_at|date:'d/m/Y H:m:s' }}</p>
            </div>
            <div class="col-md-12">
              <textarea cols="10" rows="10" class="form-control">{{ session.description }}</textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
        </div>
      </div>
    </div>
</div>