<div class="modal fade" id="modal-extraction_cheminants" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title f-bold"><i class="fa fa-database"></i> EXTRAIRE DES CHEMINANTS</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12" style="margin:auto; text-align: center;">
                  <a class="btn btn-app f-bold" style="padding-left: 50px; padding-right: 50px; font-size: 18px;">
                    <span style="margin-bottom:10px"><i class="fa fa-file-pdf-o"></i> EXTRAIRE EN PDF</span>
                  </a>
                  <a class="btn btn-app f-bold" style="padding-left: 50px; padding-right: 50px; font-size: 18px;">
                    <span style="margin-bottom:10px"><i class="fa fa-file-excel-o"></i> EXTRAIRE EN EXCEL</span>
                  </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-remove"></i> Fermer</button>
        </div>
      </div>
    </div>
  </div>
