{% load custom_filters %}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-male"></i><i class="fa fa-female"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Cheminants du mois</span>
          <span class="info-box-number">{{ cheminant_mois_en_cours|format_mille }}</span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
              <span class="progress-description">
                Augmentation de 70 % en 30 jours
              </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-male"></i><i class="fa fa-female"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Cheminements ayant abouti</span>
          <span class="info-box-number">41 410</span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
              <span class="progress-description">
                Augmentation de 70 % en 30 jours
              </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-pie-chart"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Cheminements interrompu</span>
          <span class="info-box-number">4 110</span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
              <span class="progress-description">
                Augmentation de 70 % en 30 jours
              </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box bg-red">
    <span class="info-box-icon"><i class="fa fa-pie-chart"></i></span>
    <div class="info-box-content">
      <span class="info-box-text">Cheminements abandonnés</span>
      <span class="info-box-number">10</span>
      <div class="progress">
        <div class="progress-bar" style="width: 70%"></div>
      </div>
        <span class="progress-description">
          Augmentation de 70 % en 30 jours
        </span>
    </div>
  </div>
</div>
</div>